* {
  padding: 0;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 10px;
  text-align: center;
  margin: auto;
  width: 100%;
  background-color: rgb(97, 97, 238);

}

.invalidInput {
  color: rgb(246, 95, 95) !important;
}

.link {
  text-decoration: none;
}

form {
  width: 500px;

}